# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lambda dependencies
lambda/*/node_modules/
lambda/*/.env

# CDK
infra/cdk.out/
infra/node_modules/
infra/*.js
infra/*.d.ts
infra/.env

# Environment variables
.env.local
.env.*.local
